<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>К-Резюме</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    </head>
    <body>
        <header class="header">
            <a href="{{ url_for('index') }}">К-Резюме</a>
            <a href="{{ url_for('logout') }}" class="logout-link">Выход</a>
        </header>
        <div class="main-wrapper">
            <main class="content">
              {% block content %}

              {% endblock %}
            </main>
        </div>
        <footer class="footer">
            © 2025 Kiyko Inc. — Все права защищены
        </footer>
    </body>
</html>
