{% extends "base_admin.html" %}

{% block content %}
    {% if schools %}
        <h2>Опыт работы:</h2>
            <ul>
                {% for school in schools %}
                    <li class="resume-item">
                        <span class="resume-name">{{ school['name'] }}</span>
                        <div class="buttons">
                            <a href="{{ url_for('edit_school', resume_id=resume_id, education_id=education_id, school_id=school['id']) }}" class="btn">Изменить</a>
                            <a href="{{ url_for('delete_school', resume_id=resume_id, education_id=education_id, school_id=school['id']) }}" class="btn delete-btn">Удалить</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        <h2>Нет образования. Может пришла пора поучиться?</h2>
    {% endif %}
        <a href="{{ url_for('create_school', resume_id=resume_id, education_id=education_id) }}" class="btn">Добавить образование</a>
{% endblock %}
