{% extends "base_admin.html" %}

{% block content %}
    <h3>FastLane</h3>
    <h5>FastLane, HCIA Storage</h5>
    <p>Сентябрь 2020—Сентябрь 2020</p>
    <h5>FastLane, Implementing Cisco IP Switched Networks (SWITCH)</h5>
    <p>Сентябрь 2016—Сентябрь 2016</p>
    <h5>FastLane, Interconnecting Cisco Networking Devices Part 2 (ICND2)</h5>
    <p>Сентябрь 2015—Сентябрь 2015</p>
    <h3>CompTek</h3>
    <h5>CompTek, Курс Avaya Aura SM и протокол SIP</h5>
    <p>Сентябрь 2019—Сентябрь 2019</p>
{% endblock %}
