{% extends "base_admin.html" %}

{% block content %}
    <h2>АО "НИИ "Масштаб"</h2>
    <p>Разработчик телекоммуникационного оборудования, средств сетевой безопасности, ИТ-платформ, платформ предоставления услуг Санкт-Петербург • От 100 до 1000 сотрудников</p>
    <h3>Разработчик приложений (Средний) • Инженер-программист</h3>
    <p>Март 2024 — По настоящее время (1 год и 8 месяцев)</p>
    <p>Основной проект: разработка агента управления маршрутизатором. В проекте используются стандартная библиотека python, pydantic, cython. Разработка проходит в docker-контейнерах. Побочный проект: разработка системы детектирования ddos-атак.</p>
    <p>Git • Linux • ООП • Bash • Python • Docker • CI/CD</p>

    <h2>Physical Transformation | Физикл 2.0</h2>
    <p>Крупнейший и наиболее успешный онлайн-курс на территории России и СНГ по приведению себя в лучшую физическую форму</p>
    <h3>Бэкенд разработчик (Младший) • Backend-разработчик</h3>
    <p>Сентябрь 2021 — Март 2024 (2 года и 7 месяцев)</p>
    <p>Работаю в качестве самозанятого над бэкендом проекта https://apps.apple.com/ru/app/transformmate/id1577194080
        Стек проекта: Django REST Framework, PostgreSQL, Celery, Redis, Docker.
        Проект имеет мобильный (Fultter) и web-клиенты (React).
        Обязанности:
        - создание нового функционала по ТЗ от заказчика;
        - рефакторинг кодовой базы;
        - написание документации и поддержание её в актуальном состоянии;
        - оптимизация производительности кода;
        - создание скриптов для подготовки отчётов для руководства;
        - развёртывание проекта на серверах;
        Достижения:
        В проекте практически с самого начала - принимал участие в большинстве решений, реализованных на бэкенде и используемых в мобильном приложении. Если более предметно:
        - полностью сконструировал и реализовал модель тренировок (основной функционал), используемую в приложении;
        - реализовал работу с упражнениями, обратной связью, оповещениями;
        - создал функционал копирования и шаринга тренировок и тренировочных программ в приложении;
        - реализовал отправку аналитических данных в системы Amplitude и Appsflyer;
        - полностью создал раздел прогресса пользователя в выполнении упражнений;
        - после рефакторинга некоторых решений скорость работы приложения увеличилась до 30% от изначальной.
    </p>
    <p>Git • Python • PostgreSQL • Django • REST • Celery • Redis • Linux • SQL • Docker</p>

    <h2>ТЭК Информ</h2>
    <h3>Главный специалист отдела сервиса</h3>
    <p>Июнь 2016 — Июнь 2021 (5 лет и 1 месяц)</p>
    <p>Планирование и развертывание локальной вычислительной сети, настройка маршрутизации между офисами.
        Установка и настройка сетевого и серверного оборудования (сервера и СХД HP/Dell/Fujitsu, сеть на Cisco).
        Настройка и обслуживание АТС Avaya Aura.
        Настройка и обслуживание распределенной сети видеоконференцсвязи (оборудование Avaya, Polycom, Cisco).
        Администрирование серверов домена (AD, DNS, DHCP, WSUS, Exchange).
        Автоматизация рабочих процессов с помощью скриптов python, powershell (опрос и настройка активного сетевого оборудования, автоконфигурирование телефонных аппаратов).
        Внедрение системы IPAM на базе netbox.
    </p>

    <h2>АНТ, Группа компаний (АНТ Информ)</h2>
    <h3>Инженер</h3>
    <p>Май 2011 — Июнь 2016 (5 лет и 2 месяца)</p>
    <p>Обязанности:
        Планирование и развертывание локальной вычислительной сети, установка и настройка сетевого и серверного оборудования (сервера HP, сеть преимущественно на cisco).
        Навыки:
        Администрирование ЛВС (домен, 200+ рабочих станций, 20 серверов Windows 2003/2008/2012, FreeBSD).
        Достижения:
        - внедрена система видео-конференц связи (Polycom);
        - полностью модернизирована структура локальной сети (создан стек коммутаторов ядра, сеть сегментирована на VLAN'ы, внедрена система обеспечения информационной безопасности).
    </p>
{% endblock %}
