{% extends "base_admin.html" %}

{% block content %}
    {% if jobs %}
        <h2>Опыт работы:</h2>
            <ul>
                {% for job in jobs %}
                    <li class="resume-item">
                        <span class="resume-name">{{ job['name'] }}</span>
                        <div class="buttons">
                            <a href="{{ url_for('edit_job', resume_id=resume_id, experience_id=experience_id, job_id=job['id']) }}" class="btn">Изменить</a>
                            <a href="{{ url_for('delete_job', resume_id=resume_id, experience_id=experience_id, job_id=job['id']) }}" class="btn delete-btn">Удалить</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        <h2>Нет опыта работы</h2>
    {% endif %}
        <a href="{{ url_for('create_job', resume_id=resume_id, experience_id=experience_id) }}" class="btn">Добавить опыт работы</a>
{% endblock %}
