{% extends "base.html" %}

{% block content %}
    {% if resumes %}
        <h2>Мои резюме:</h2>
            <ul>
                {% for resume in resumes %}
                    <li class="list-item">
                        <span class="list-name">{{ resume.name }}</span>
                        <div class="buttons">
                            <a href="{{ url_for('list_resume', resume_id=resume.id) }}" class="btn">Печать</a>
                            <a href="{{ url_for('edit_resume', resume_id=resume.id) }}" class="btn">Изменить</a>
                            <a href="{{ url_for('delete_resume', resume_id=resume.id) }}" class="btn delete-btn">Удалить</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        <h2>Не загружено ни одного резюме, может быть стоит добавить?</h2>
    {% endif %}
        <h2>Добавить новое:</h2>
        <form action="" method="post">
            {{ form.csrf_token() }}
            {% for field in form if field.name not in ('csrf_token', 'submit') %}
                <div class="form-group">
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endfor %}
            {{ form.submit() }}
        </form>
{% endblock %}
