{% extends "base_admin.html" %}

{% block content %}
    <p>Готовность к работе: Рассмотрю предложения</p>
    <p>Ожидаемое вознаграждение: 350 000 рублей</p>
    <p>Коротко о себе: Python-разработчик</p>
    <p>Специализация: Разработка > Бэкенд разработчик, Разработчик приложений</p>
    <p>Ваша квалификация: Старший (senior)</p>
    <p>Профессиональные навыки: Python, Django, MySQL, Docker, Git, Linux, PostgreSQL, REST, Redis, Celery</p>
    <p>Знание языков: Английский B2</p>
    <p>Дополнительно: Готов к удаленной работе</p>
{% endblock %}
