/* Сброс */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Базовые стили */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #222222;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Шапка */
.header {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 24px;
    color: #0073e6;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.header>a {
    text-decoration: none;
    color: #0073e6;
}

.header>a:visited {
    text-decoration: none;
    color: #0073e6;
}

.logout-link {
  margin-left: auto;
  font-size: 18px;
}

.logout-link:hover {
  color: #000;
}

/* Основная обёртка */
.main-wrapper {
    flex: 1;
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
    gap: 20px;
    width: 100%;
}

/* Основной контент */
.content {
    flex-grow: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px 30px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
}

/* Фотография */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
}

.image-container img {
    max-width: 50%;
    height: auto;
    display: block;
    object-fit: contain;
}

/* Подвал */
.footer {
    background-color: white;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 15px 10px;
    font-size: 13px;
    color: #777777;
    user-select: none;
    margin-top: 40px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
        margin: 10px;
        padding: 0 10px;
    }
    .menu {
        width: 100%;
        margin-bottom: 20px;
    }
    .image-container img {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }
}
