<nav class="menu" aria-label="Главное меню">
    <ul>
        <li><a href="{{ url_for('edit_personal', resume_id=resume_id) }}" class="{{ 'active' if active_page == 'personal' }}">Личная информация</a></li>
        <li><a href="{{ url_for('edit_specialization', resume_id=resume_id) }}" class="{{ 'active' if active_page == 'specialization' }}">Специализация</a></li>
        <li><a href="{{ url_for('edit_experience', resume_id=resume_id) }}" class="{{ 'active' if active_page == 'experience'}}">Опыт работы</a></li>
        <li><a href="{{ url_for('edit_education', resume_id=resume_id) }}" class="{{ 'active' if active_page == 'education'}}">Образование</a></li>
        <li><a href="{{ url_for('edit_contact', resume_id=resume_id) }}" class="{{ 'active' if active_page == 'contact'}}">Контакты</a></li>
    </ul>
</nav>